.container {
    display: grid; 
    grid-template-columns: max-content 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". .";
}

.wrapper {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: max-content 1fr; 
    gap: 0px 0px; 
    grid-template-areas: "." ".";
}