@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap")

body
    --dark-blue: #23374D
    --light-blue: #1089FF
    --dark-grey: #E5E5E5
    --light-grey: #EEEEEE
    background-color:  var(--light-grey)
    margin:  0
    padding:  0

*
    font-family: sans-serif
    box-sizing: border-box

.little-footer
    bottom: 0
    left: 50%
    position: absolute
    transform: translateX(-50%)
    color: var(--primary-background)
    *
        color: var(--primary-background)

.noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

